[Unit]
Description=safe shutdown pi service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/home/pi/BIY/SEE/Scripts/
ExecStart=/usr/bin/python /home/pi/BIY/SEE/Scripts/shutdown_pi.py

[Install]
WantedBy=multi-user.target
