[Unit]
Description=converts images from the camera in to Smorfia numbers
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/home/pi/BIY/SEE/AIY_vision/
ExecStart=/usr/bin/python3 /home/pi/BIY/SEE/AIY_vision/image_classification_camera.py

[Install]
WantedBy=multi-user.target
