[Unit]
Description=vision2smorfia
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/python3 /home/pi/BIY/SEE/AIY_vision/vision2smorfia.py

[Install]
WantedBy=multi-user.target
